<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-blue scrolling-navbar" [containerInside]="true">
  <logo>
      <a class="logo navbar-brand" href="#"><strong>Khiem Le</strong></a>
  </logo>
  <links>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item active waves-light" mdbRippleRadius>
              <a class="nav-link">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link">About</a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link">Projects</a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link">Contact</a>
          </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><i class="fa fa-instagram"></i></a>
          </li>
      </ul>
  </links>
</mdb-navbar>
<!-- Main -->
<main>
  <div class="container" style="height:1300px;">
     <!--Section: Features v.3-->
<section class="section feature-box pt-5">
  
      <!--Section heading-->
      <h1 class="section-heading pt-4 animated bounceInDown"><strong>Web Developer/Software Engineer</strong></h1>
      <!--Section description-->
      <p class="section-description lead grey-text">Experienced in Angular, Typescript, React, NodeJS, RESTful API, HTML5, CSS3, Javascript, JQuery, Handlebars, Java, Python, Django/Python, MySQL, MongoDB, Bootstrap, Materialize, Firebase, Ionic Mobile Framework, Responsive Design, Photoshop, Adobe Premiere, After Effects, Illustrator, InDesign, PageMaker. Knowledgeable in the computer sciences, multimedia as well as digital media.</p>
  
      <!--Grid row-->
      <div class="row features-small pt-5">
  
          <!--Grid column-->
          <div class="col-lg-5 mb-r center-on-small-only">
              <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/ipad-portfolio2.png" alt="" class="img-fluid z-depth-0">
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-7">
  
              <!--Grid row-->
              <div class="row pb-3">
                  <div class="col-2 col-md-1">
                      <i class="fa fa-bank blue-text"></i>
                  </div>
                  <div class="col-10">
                      <h5 class="feature-title">Sample Projects</h5>
                      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                  </div>
              </div>
              <!--Grid row-->
  
              <!--Grid row-->
              <div class="row pb-3">
                  <div class="col-2 col-md-1">
                      <i class="fa fa-code blue-text"></i>
                  </div>
                  <div class="col-10">
                      <h5 class="feature-title">Websites Build</h5>
                      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                  </div>
              </div>
              <!--Grid row-->
  
              <!--Grid row-->
              <div class="row pb-3">
                  <div class="col-2 col-md-1">
                      <i class="fa fa-money blue-text"></i>
                  </div>
                  <div class="col-10">
                      <h5 class="feature-title">Designs</h5>
                      <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                  </div>
              </div>
              <!--Grid row-->
  
          </div>
          <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
  </section>
  <!--Section: Features v.3-->

  <!--Section: Team v.2-->
<section class="section team-section pb-3">
  
      <!--Section heading-->
      <h2 class="section-heading h1 pt-4">Apps Build</h2>
      <!--Section description-->
      <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>
  
      <div class="row text-center">
  
          <!--Grid column-->
          <div class="col-md-4 mb-r">
  
              <div class="avatar">
                  <img src="./assets/images/lifeisbeautiful.jpg" class="img-fluid z-depth-1" alt="First sample avatar image">
              </div>
              <h4>Life is Beautiful</h4>
              <h6>Life is Beautiful App will provide an advantage by giving specifics of your move</h6>
  
              <!--Facebook-->
              <a type="button" class="btn-floating btn-small btn-fb waves-light" mdbRippleRadius><i class="fa fa-facebook"></i></a>
              <!--Dribbble-->
              <a type="button" class="btn-floating btn-small btn-dribbble waves-light" mdbRippleRadius><i class="fa fa-dribbble"></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-small btn-tw waves-light" mdbRippleRadius><i class="fa fa-twitter"></i></a>
  
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-md-4 mb-r">
  
              <div class="avatar">
                  <img src="./assets/images/smartgrocer.jpg" class="img-fluid z-depth-1" alt="Second sample avatar image">
              </div>
              <h4>Smart Grocer</h4>
              <h6>MERN stack app to help people to avoid grocery shopping hassle</h6>
  
              <!--Email-->
              <a type="button" class="btn-floating btn-small btn-email waves-light" mdbRippleRadius><i class="fa fa-envelope"></i></a>
              <!--Facebook-->
              <a type="button" class="btn-floating btn-small btn-fb waves-light" mdbRippleRadius><i class="fa fa-facebook"></i></a>
              <!--GitHub-->
              <a type="button" class="btn-floating btn-small btn-git waves-light" mdbRippleRadius><i class="fa fa-github"></i></a>
  
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-md-4 mb-r">
  
              <div class="avatar">
                  <img src="./assets/images/diveintodc.jpg" class="img-fluid z-depth-1" alt="Dive into DC">
              </div>
              <h4>Dive into DC</h4>
              <h6>The Dive into DC app allows the user to personalize an itinerary depending on how many days the user will be staying in DC</h6>
  
              <!--Linkedin-->
              <a type="button" class="btn-floating btn-small btn-li waves-light" mdbRippleRadius><i class="fa fa-linkedin "></i></a>
              <!--Twitter-->
              <a type="button" class="btn-floating btn-small btn-tw waves-light" mdbRippleRadius><i class="fa fa-twitter "></i></a>
              <!--Pinterest-->
              <a type="button" class="btn-floating btn-small btn-pin waves-light" mdbRippleRadius><i class="fa fa-pinterest "></i></a>
  
          </div>
          <!--Grid column-->
      </div>
  
  </section>
  <!--Section: Team v.2-->

  </div>
</main>
<!-- /.Main -->